# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================================
# Virtual Environment
# ==========================================================

venv/
.venv/
env/

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# SQLite Database
# ==========================================================

*.db
*.sqlite3

# ==========================================================
# Pytest
# ==========================================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# PyCharm
# ==========================================================

.idea/

# ==========================================================
# Docker
# ==========================================================

.docker/

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Build Files
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Type Checking
# ==========================================================

.mypy_cache/

# ==========================================================
# Ruff
# ==========================================================

.ruff_cache/

# ==========================================================
# Operating System Files
# ==========================================================

.DS_Store
Thumbs.db
